.form-group
  label Token de Producteca
  input.form-control(type='password', name='parsimotionToken', ng-model='settings.parsimotionToken')

  .panel.panel-default(ng-show="user")
    .panel-heading
      h3.panel-title {{ user.company.name }}

  br
  label Usuario de Colppy
  input.form-control(type='text', name='colppyUsername', ng-model='settings.colppyUsername')

  label Contraseña de Colppy
  input.form-control(type='password', name='colppyPassword', ng-model='settings.colppyPassword')

button.btn.btn-info(ui-sref='settings.syncer') Continuar
