div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Configuración
    .col-sm-12
      form.form(name='form', ng-submit='save(form)', novalidate='')
        section(ui-view="")
