.form-group
  label Algún campo, por ejemplo: User
  input.form-control(type='text', name='username', ng-model='settings.username')

  label Algún otro campo, por ejemplo: Password
  input.form-control(type='password', name='password', ng-model='settings.password')

button.btn.btn-info(ui-sref='settings.step2') Continuar
