.form-group
  label Lista de precios
  select.form-control(name="priceList", ng-model='settings.priceList', ng-options='it for it in priceLists')

.form-group
  label Depósito
  select.form-control(name="warehouse", ng-model='settings.warehouse', ng-options='it for it in warehouses')

table.synchro-big-settings
  tr
    td
      .form-group
        label Sincronizar
        table.synchro-settings
          tr
            th
              h5.centered Precios
            th
              h5.centered Stocks
          tr
            td
              input.form-control(type='checkbox', ng-model='settings.synchro.prices')
            td
              input.form-control(type='checkbox', ng-model='settings.synchro.stocks')
    td
      .form-group
        label Identificador
        table.synchro-settings
          tr
            th
              h5.centered Barcode
            th
              h5.centered SKU
          tr
            td
              input.form-control(type='radio', ng-model='settings.identifier', value='barcode')
            td
              input.form-control(type='radio', ng-model='settings.identifier', value='sku')

div.alert.alert-warning(ng-show="settings.identifier == 'sku'")
  | Si utiliza SKU como identificador, no podrá sincronizar productos con variantes.

p.help-block  {{ message }}
button.btn.btn-primary(type='submit', ng-disabled="submitted") Guardar
