div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      form.form(name='form', ng-submit='login(form)', novalidate='')
        h4
          | Inicie sesión con:
          br
          //- hace frío
          br
          //- brrrrrr
          a.btn.btn-producteca(href='', ng-click='loginOauth("producteca")')
