// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-producteca {
  margin: 2px 0 8px;
  padding: 0;
  height: 45px;
  width: 250px;
  background-image: url(http://res.cloudinary.com/decdktzp7/image/upload/v1413848551/isologo_rwwkn8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
