div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      form.form(name='form', ng-submit='login(form)', novalidate='')
        div
          a.btn.btn-dropbox(href='', ng-click='loginOauth("dropbox")')
            i.fa.fa-dropbox
            |  Iniciar sesión con Dropbox
          = ' '
