// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-producteca {
  margin: 2px 0 8px;
  padding: 0;
  height: 45px;
  width: 250px;
}

.img-producteca {
  width: 200px;
}
